@import "./variables.scss";

.about {
    display: grid;
    grid-template-rows: .1fr 1fr;
    justify-items: center;
}

.about__headers {
    background-color: $color-orange;
    padding: 3px 0px;
    font-size: 2rem;
    color: $color-brown;
    border:2px solid $color-brown;
    border-radius: 5px;
    width: 100%;
    max-width: 175px;
    margin-bottom: 10px;
}

.about__gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    background-color: $color-orange;
    border: 2px solid $color-brown;
    border-radius: 5px;
    width: 100%;
    max-width: 750px;
    padding: 5px;
    padding-left: 8px;
}

.about__text {
    text-align: start;
    width: 100%;
    max-width: 700px;
    font-size: 1.25rem; 
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
    .about__headers {
        max-height: 50px;
    }

    .about__gridContainer {
        margin-top: -20px;
    }
}