@import "./variables.scss";

.contact__links {
    text-decoration: none;
    color: $color-brown;
    margin-left: 5px;
    position: relative;
    top: -17px;
    font-size: x-large;
    font-weight: 600;
}

.contact__icons {
    font-size: 50px;
}

.contact__flexContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contact__gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 100px;
    background-color: $color-orange;
    border: 2px solid $color-brown;
    border-radius: 5px;
}

@media (max-width: 3840px) {
    .contact__gridContainer {
        padding: 100px;
        max-width: 1200px;
    }
    .contact__icons {
        font-size: 50px;
    }
    .contact__links {
        text-decoration: none;
        color: $color-brown;
        margin-left: 5px;
        position: relative;
        top: -17px;
        font-size: 2.25rem;
        font-weight: 600;
    }
}

@media (max-width: 2560px) {
    .contact__gridContainer {
        padding: 50px;
        max-width: 900px;
    }
    .contact__icons {
        font-size: 50px;
    }
}

@media (max-width: 375px) {
    .contact__gridContainer {
        padding: 10px;
        max-width: 345px;
    }
    .contact__flexContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .contact__icons {
        font-size: 20px;
    }
    .contact__links {
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-size: 1rem;
        font-weight: 600;
    }
}

@media only screen and (min-device-height: 360px) and (min-device-width: 760px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4){
    
}
@media only screen and (min-device-height: 760px) and (min-device-width: 360px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4){
    
}