@import "./variables.scss";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    background-color: $color-brown;
    padding: 25px;
}

.navbar__name {
    text-decoration: none;
    color: $color-orange;
}

.navbar__buttons {
    text-decoration: none;
    position: relative;
    left: 15px;
    margin-right: 25px;
    color: $color-orange;
}

.navbar__tabs {
    text-decoration: none;
    color: $color-orange;
    .navbar__buttons {
        &:focus {
            color: $color-brown;
            background-color: $color-orange;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 5px;
        }
        &:hover {
            color: $color-brown;
            background-color: $color-orange;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 5px;
        }
    }
}

.navbar__icons {
    position: relative;
    left: 10px;
    top: 2px;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    position: relative;
    right:-100px;
}

.navbar__browns {
    max-width: 25px;
    position: relative;
    right: 10px;
}

@media (max-width: 3840px) {
    p {
        font-size: 2.5rem;
    }
    .navbar__buttons {
        font-size: 2rem;
    }
    .navbar__icons {
        font-size: 30px;
    }
    .navbar__name {
        font-size: 2rem;
    }
    .navbar__browns {
        max-width: 50px;
    }
}

@media (max-width: 2560px) {
    p {
        font-size: 2rem;
    }
}

@media (max-height: 1600px) {
    .navbar__buttons {
        font-size: 1.25rem;
    }
    .navbar__icons {
        font-size: 25px;
    }
    .navbar__name {
        font-size: 1.25rem;
    }
    .navbar__browns {
        max-width: 30px;
    }
}

@media (max-width: 375px) {
    .navbar__buttons {
        font-size: .85rem;
    }
    .navbar{
        max-width: 375px;
        display: flex;
        justify-content: start;
    }
    .navbar__right{
        position: relative;
        left:0px
    }
    .navbar__browns {
        max-width: 25px;
        max-height: 25px;
        position: relative;
        bottom: -17px;
    }
    .navbar__tabs {
        margin-left: 4px;
    }
    .navbar__icons {
        position: relative;
        right:-5px;
    }
    .navbar__tabs__contact {
        position: relative;
        left: -10px;
    }
}