@import './variables.scss';

.whatido {

}

.whatido__flexContainer {
    display: flex;
    justify-content: center;
}

.whatido__gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $color-orange;
    border: 2px solid $color-brown;
    border-radius: 5px;
}

.whatido__icons {
    margin: 100px;
}

.whatido__icon {
    color: $color-brown;
}

.whatido__frontend {
position: relative;
top: 150px;
right: -50px;
font-size: xx-large;
}

.whatido__titles {
    font-size: xx-large;
}