@import './variables.scss';

.whatido {
    display: grid;
    grid-template-rows: .1fr 1fr;
    justify-items: center;
}

.whatido__headers {
    background-color: $color-orange;
    padding-top: 3px;
    font-size: 2rem;
    color: $color-brown;
    border:2px solid $color-brown;
    border-radius: 5px;
    width: 100%;
    max-width: 175px;
    margin-bottom: 15px;
}

.whatido__gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $color-orange;
    border: 2px solid $color-brown;
    border-radius: 5px;
    padding: 5px;
}

.whatido__icons {
    margin: 0px;
}

.whatido__icon {
    color: $color-brown;
    font-size: 75px;
}

.whatido__titles {
    font-size: 1.5rem;
}


@media (min-width: 2560px) and (max-width: 3840px)  {
    .whatido__icon {
        font-size: 125px;
    }
    .whatido__titles {
        font-size: 2.5rem;
    }
    .whatido__headers {
        margin-bottom: 55px;
    }
}

@media (min-width: 1920px) and (max-width: 2560px)  {
    .whatido__headers {
        margin-bottom: 35px;
    }
}


@media only screen and (min-width: 320px) and (orientation: portrait) {
    .whatido__gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: $color-orange;
        border: 2px solid $color-brown;
        border-radius: 5px;
        padding: 5px;
        margin-top: -100px;
    }
    .whatido__headers {
        background-color: $color-orange;
        padding-top: 3px;
        font-size: 2rem;
        color: $color-brown;
        border:2px solid $color-brown;
        border-radius: 5px;
        width: 100%;
        max-width: 175px;
        max-height: 50px;
    }
}
