@import './variables.scss';

.whatido {

}

.whatido__flexContainer {
    display: flex;
    justify-content: center;
    background-color: $color-orange;
}

.whatido__gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.whatido__icons {
    margin: 100px;
}

.whatido__icon {
    color: $color-brown;
}